# deepspeed==0.10.1
accelerate
bitsandbytes
datasets
peft @ git+https://github.com/huggingface/peft.git
scipy
sentencepiece
tensorboard
transformers
trl @git+https://github.com/huggingface/trl.git
# look into recent trl update with deepspeed

